# Theme
error_log
bower_components
node_modules
npm-debug.log

# Assets
assets/dist/*
!assets/dist/.gitkeep
!assets/dist/dependencies
!assets/dist/dependencies/*
assets/config/mainfest.json
mainfest.json
.local-gulpconfig.js
