:root {
  font-size: 62.5%; // Sets standard to 10px from default 16px
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: $f-bold;
}


a {
  color: inherit;
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

abbr[title],
acronym[title] {
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
