////
/// Aspect Ratios
/// See `06-Utilities/utils.aspect-ratios.scss for class usage
/// @group Variables
////

$aspect-ratio-1x1: 100%;
$aspect-ratio-2x1: 50%;
$aspect-ratio-4x3: 75%;
$aspect-ratio-6x4: 66.67%;
$aspect-ratio-16x9: 56.25%;

$aspect-ratio-1x2: 200%;
$aspect-ratio-3x4: 133.34%;
$aspect-ratio-4x6: 150%;
$aspect-ratio-9x16: 177.78%;
